<div class="form_box">
	<div id="login_form_heading">
	</div>	
	<div class="form">
		<%= form_tag sessions_path, {:class => "form-inline"} do %>
			<input id="password" name="password" type="password" class="input-large" placeholder="Password">
			<button type="submit" class="btn">Sign in</button>
		<% end -%>
	<!-- END .form --></div>
<!-- END .form_box --></div>	
