<div class="form_box">
	<%= image_tag "edit_item_heading.png", :class => 'header_image' %>
	<%= render 'form' %>
	<%= link_to ' â‡ Not now, take me back', items_path, :id => 'new_back_button' %>
<!-- END .form_box --></div>