<%= render :partial => 'layouts/head' %>
<body class="form_only">
<div id="wrapper">
	<div class="form_content_item">
		<div class="alert_message">
			<p class="alert_text"><%= alert %></p>
		<!-- END .alert --></div>
<%= yield %>
	<!-- END .form_content --></div>
<!-- END #wrapper --></div>
</body>
</html>
